/* HOME, MODULES, COURSE OUTLINE CSS */

*{
	margin:0 ;
	padding: 0;
	font-family: serif;
	color: white;
	box-sizing: border-box;
}
body{	
	background: #182a3a;
}

#preloader{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #355c7d ;
	z-index: 10000;
	overflow: hidden;
  }
  .preloader-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  #textA{
	animation: animateOne 0.53s linear 0.5s infinite alternate;
  }
  #textX{
	animation: animateTwo 0.55s linear 0.5s infinite alternate;
  }
  #textW{
	animation: animateThree 0.6s linear 0.5s infinite alternate;
  }
  #textG{
	animation: animateFour 0.62s linear 0.5s infinite alternate;
  }
  @keyframes animateOne{
	0%{
	  opacity: 0;
	  fill: #355c7d;
	}
	100%{
	  opacity: 1;
	  fill: #060606;
	}
  }
  @keyframes animateTwo{
	0%{
	  opacity: 0;
	  fill: #355c7d;
	}
	100%{
	  opacity: 1;
	  fill: #00eaff;
	}
  }
	  @keyframes animateThree{
	0%{
	  opacity: 0;
	  fill: #355c7d;
	}
	100%{
	  opacity: 1;
	  fill: #060606;
	}
  }
	  @keyframes animateFour{
	0%{
	  opacity: 0;
	  fill: #355c7d;
	}
	100%{
	  opacity: 1;
	  fill: #060606;
	}
  }

.main{
	background-color: #254158;
  	padding: 20px;
}

#particles-js{
	height: 500px;
	width: 100%;
  }

.logo{
	width: 150px;
	margin: 10px 0;
	cursor: pointer ;
}

nav{
	width: 100%;
	text-align: center;
}

nav ul{
	background: #111e29;
	width: 100%;

}

nav ul li{
	display: inline-block;
	list-style: none;
	margin:30px 30px;
	transition: right 1s;
}

nav.sticky{
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 8%;
	background: #111e29;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: padding 0.5s;
}

nav.sticky ul{
	width: auto;
}

nav ul li a:hover{
	color: #3797b4;
}

nav ul li a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

nav a.active {
	color: #3797b4;
}

.info{
	margin:30px 10%;
}
.h1info{
	font-size: 70px;
	margin-bottom: 100px;
}

.h1info1{
	font-size: 70px;
	margin-bottom: 100px;
}
.h1info2 h1{
	margin-bottom: 20px;
}
.h1info2 i{
	font-size:40px
}
.h1info2 ul li{
	margin: 0px 40px;
}
.emergingtech ol li{
	margin: 0px 70px;
}

.endingmargin ul li p{
	margin-bottom: 70px;
}
.endingmargin{
	margin-bottom: 70px;
}

.info p{
	font-size: 23px;
	margin-bottom: 20px;
}
 
.headerintro{
	position: absolute;
	top: 10%;
	left: 30%;
	right: 30%;
	font-size: 40px;
	justify-items: center;
  }
  .headerintroM h1{
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	font-size: 80px;
	text-align: center;
  }
.headerintroCO{
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
	font-size: 40px;
	text-align: center;
  }
.header{
text-align: center;
}

  .h11{
	font-size: 50px;
  }
.headCO h1{
	font-size: 80px;
}

@media only screen and (max-width: 700px){
	.headerintro{
		top: 10%;
		left: 10%;
		right:10%;
		font-size: 20px;
	}

	.headerintroCO{
		top: 20%;
		left: 10%;
		right:10%;
		font-size: 30px;
	}

	.headerintroM h1{
		top: 20%;
		left: 10%;
		right:10%;
		font-size: 50px;
	}

	.logo{
		width: 100px;
		margin: 5px 0;
		cursor: pointer ;
	}

	.h11{
		font-size: 40px;
	}

	.headCO h1{
		font-size: 50px;
	}

	.h1info1{
		font-size: 50px;
		margin-bottom: 100px;
	}

	.h1info2 i{
		font-size:30px
	}

	.h1info{
		font-size: 50px;
		margin-bottom: 100px;
	}

}